.tools-wrapper .tools {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.tools-wrapper .tools .tool {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: flex-start;
}

.tools-wrapper .tools .tool .tool-icon {
  background-color: #ecf1fa;
  padding: 15px;
  border-radius: 50%;
  font-size: 36px;
  font-size: 32px;
}

.tools-wrapper .tools .tool .icon-icon-quick-task {
  padding: 15px 20px;
  font-size: 34px;
}

.tools-wrapper .tools .tool .tool-details {
  margin-left: 25px;
}

.tools-wrapper .tools .tool .tool-details h2 {
  margin: 0;
  font-size: 22px;
}

.tools-wrapper .tools .tool .tool-details p {
  color: #7f8c9f;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
}

.tools-wrapper .tools .tool .important {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #f8c5c7;
  color: #e63c43;
}

.tools-wrapper .buttons {
  display: flex;
}

.tools-wrapper .downloadBtn {
  padding: 7px 10px;
  border: 2px solid #232323;
  border-radius: 3px;
  margin-top: 10px;
  display: block;
}

.tools-wrapper .downloadBtn i {
  background-color: none;
  font-size: 16px;
}

.tools-wrapper .downloadBtn span {
  margin-left: 7px;
}

.tools-wrapper .downloadBtn:not(:first-child) {
  margin-left: 15px;
}

.roles-wrapper h1 {
  margin-bottom: 0;
}

.roles-wrapper p {
  color: #6e7073;
  font-size: 18px;
  margin-top: 10px;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.float-right {
  float: right !important;
}

/// FOR USERS PAGE

.admin-wrapper input,
.admin-wrapper select {
  background-color: #ecf1fa;
  padding: 20px 25px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.admin-wrapper input:focus,
.admin-wrapper select:focus {
  outline: 0;
}

.admin-wrapper .error,
.admin-wrapper .success {
  margin-top: 20px;
}

.admin-wrapper .container {
  padding: 40px;
  box-sizing: border-box;
  background-color: #101114;
}

.admin-wrapper .container h2 {
  margin: 0 0 30px;
}

.admin-wrapper .container .input-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding-right: 15px;
}

.admin-wrapper .container .input-wrapper input {
  background-color: transparent;
  padding: 25px 20px;
  color: #fff;
}

.admin-wrapper .view {
  margin-top: 30px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
}

.admin-wrapper .view .copy {
  margin-top: 20px;
}

.admin-wrapper .view .user {
  padding: 20px;
  box-sizing: border-box;
  display: block;
}

.admin-wrapper .view .user h4 {
  margin: 0 0 5px;
}

.admin-wrapper .view .user h4 i {
  margin-right: 10px;
}

.admin-wrapper .view .user h4 i.isMember {
  color: #4caf50;
}

.admin-wrapper .view .user h4 i.wasMember {
  color: #e63c43;
}

.admin-wrapper .view .user h4,
.admin-wrapper .view .user p {
  margin: 0;
}

.admin-wrapper .view .user:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.admin-wrapper .discord {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.admin-wrapper .discord img {
  border-radius: 50%;
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.admin-wrapper .user-view {
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
}

.admin-wrapper .user-view .membership {
  margin: 20px 0 0;
}

.admin-wrapper .user-view .membership input {
  margin-top: 15px;
  margin-bottom: 30px;
}

.admin-wrapper .user-view .buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.admin-wrapper .user-view .buttons :not(:first-child) {
  margin-left: 15px;
}

.admin-wrapper .user-view .sub-container {
  margin: 40px 0 0;
}

.admin-wrapper .user-view .discord {
  margin: 20px 0;
}

.admin-wrapper .user-view .server {
  display: flex;
  align-items: center;
}

.admin-wrapper .user-view .server img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.admin-wrapper .user-view .server .owner-crown {
  margin-right: 5px;
  font-size: 16px;
}

.admin-wrapper .user-view .server .server-brand {
  margin-left: 15px;
}

.admin-wrapper .user-view .server:not(:first-child) {
  margin-top: 20px;
}

.admin-wrapper .user-view h2,
.admin-wrapper .user-view h3,
.admin-wrapper .user-view h4,
.admin-wrapper .user-view p {
  margin: 0;
}

.admin-wrapper .account .btn,
.admin-wrapper .account input,
.admin-wrapper .account select {
  margin-top: 20px;
}

.admin-wrapper .restocks input {
  margin-bottom: 20px;
}

.admin-wrapper .restocks button {
  margin-left: 0;
}

.admin-wrapper .restock-status {
  display: flex;
  align-items: center;
}

.admin-wrapper .restock-status i {
  color: #e63c43;
}

.admin-wrapper .restock-status span {
  margin-left: 10px;
}

.admin-wrapper .btn i {
  margin-right: 10px;
}

.admin-wrapper .status-working {
  font-size: 26px;
  color: #27c72a;
}

.admin-wrapper .status-broken {
  font-size: 26px;
  color: #d41212;
}

.admin-wrapper .status-locked,
.admin-wrapper .status-maintenance {
  font-size: 26px;
}

.admin-wrapper.statuses p {
  margin-bottom: 40px;
}

.admin-wrapper.statuses table {
  width: 100%;
}

.admin-wrapper.statuses table tr:first-child {
  font-weight: 700;
}

.admin-wrapper.statuses table td {
  padding: 7.5px 25px;
  font-size: 18px;
}

.admin-wrapper.statuses .btn {
  margin-top: 30px;
}

.admin-wrapper.statuses .selectStatus {
  margin-top: 15px;
}
