@import "~bootstrap/scss/bootstrap.scss";
@import "HomePage.scss";
@import "Auth.scss";
@import "Dashboard.scss";
@import "Modal.scss";
@import "Admin.scss";

body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

button,
a {
  font-size: 14px;
  border: 0;
  opacity: 0.9;
  user-select: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: #ff5ec8;
  }

  &:not(:disabled):hover {
    transition: 0.3s all;
    opacity: 1;
    cursor: pointer;
  }
}

button:disabled {
  background-color: #cacaca !important;
  color: white !important;
}

input,
textarea {
  &:focus {
    outline: 0;
  }
}

main {
  padding: 40px 0 0 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: calc(100% - 700px);
  margin-left: 300px;

  .content-wrapper {
    background-color: #ecf1fa;
    height: auto;
    min-height: calc(100vh - 40px);
    width: 100%;
    padding: 30px 60px;
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    h1 {
      font-size: 44px;
    }
  }
}

.error,
.success {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.error {
  color: #e63c43 !important;
}

.success {
  color: #2d9425 !important;
}
