.auth-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .auth-container {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 180px;

    position: relative;
    z-index: 500;

    button i {
      margin-right: 15px;
    }

    .brand {
      display: flex;
      align-items: center;
      user-select: none;

      img {
        width: 75px;
        height: auto;
      }

      span {
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;
        color: #fff;
      }
    }

    form {
      margin-top: 50px;
      max-width: 500px;

      a {
        color: rgba(255, 255, 255, 0.55);
      }

      h2 {
        font-size: 46px;
        font-weight: 900;
        margin: 0;
        color: rgba(255, 255, 255, 0.55);
      }

      p {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 45px;
        color: rgba(255, 255, 255, 0.55);
      }

      input[type="text"],
      input[type="password"] {
        background-color: #ecf1fa;
        padding: 20px 25px;
        border: 0;
        border-radius: 4px;
        font-size: 18px;
        display: block;
        width: 100%;
        box-sizing: border-box;

        &:first-child {
          margin-top: 50px;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }
      }

      ::placeholder {
        color: #8e8e8e;
      }

      .auth-notification {
        display: block;
        margin-top: 20px;
        font-size: 18px;
      }

      label {
        margin-top: 15px;
        display: flex;
        align-items: center;
        user-select: none;
        font-size: 16px;

        span {
          margin-left: 10px;
          color: rgba(255, 255, 255, 0.55);
        }

        a {
          font-size: inherit;
          color: inherit;
        }
      }

      .red {
        color: #c93e43;
      }

      .buttons {
        margin-top: 25px;
        display: flex;
        align-items: center;

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #ff5ec8;
          color: #fff;

          span {
            font-size: 18px;
            font-weight: bold;
          }

          i {
            margin-left: 20px;
            font-size: 20px;
          }

          &:hover {
            color: white;
            transition: all 0.3s;
          }
        }

        a {
          display: block;
          margin-left: 30px;
          color: #7f8c9f;
          font-size: inherit;
        }
      }
    }
  }
}
