.dashboard-wrapper {
  header {
    padding-top: 5vh;

    img {
      height: 4.5vh;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .dashboard {
    // display: block;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    // min-height: 80vh;
    // margin-top: 35px;

    .bind-wrapper {
      // background-color: rgba(255, 94, 200, 0.7);
      padding: 30px 40px;
      border-radius: 8px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      h2 {
        font-size: 32px;
        font-weight: 900;
        margin: 0;
        color: rgba(255, 255, 255, 0.55);
        margin-top: 0;
      }
    }

    .top-bar {
      min-height: 160px;
      width: 90vh;
      background: rgba(0, 0, 0, 0.25); // #1a1535;
      border-radius: 6px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.25);
      max-width: 1300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.blur {
  filter: blur(2px);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

.btn,
.card,
.card-shadow,
.form-control {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.25);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.25);
  background-clip: initial;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  color: #fff;
}

@media (max-width: 576px) {
  .card-3 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
}

.card,
.form-control {
  border-radius: 8px !important;
  border: 0 !important;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
}

.card-subtitle,
.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #00000008;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #00000008;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-bottom: -0.75rem;
  border-bottom: 0;
}

.card-header-pills,
.card-header-tabs {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-header,
  .card-group > .card:not(:last-child) .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-footer,
  .card-group > .card:not(:last-child) .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-header,
  .card-group > .card:not(:first-child) .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-footer,
  .card-group > .card:not(:first-child) .card-img-bottom {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    grid-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.dashcard-header {
  .align-vertically {
    display: flex;
    flex-direction: column;
  }

  small {
    font-size: 80%;
    font-weight: 500;
    color: #a7a7a7;
  }

  img {
    border-radius: 50% !important;
    float: left !important;
    margin-right: 1rem !important;
  }

  h4 {
    float: left !important;
    text-align: left !important;
    padding-top: 0.25rem !important;
    margin-bottom: 0 !important;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;

    text-muted {
      color: #b9bbbe;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-left {
  text-align: left !important;
}

.field-name {
  color: #a7a7a7;
  font-weight: 500;
  font-size: 80%;
}

.overflow-hidden {
  overflow: hidden !important;
}

.cover,
form:before {
  height: 100%;
  width: 100%;
}

.justify-content-center {
  justify-content: center !important;
}

.btn-custom,
.btn-custom:focus,
.btn-custom:hover {
  color: #fff;
  text-shadow: none;
  background: #ff5ec8;
  font-size: 15px;
  line-height: 18px;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  padding: 11px 100px;
  border: 0 solid var(--primaryColor);
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.btn-custom:hover,
.close:hover,
.hoverable:hover {
  filter: brightness(0.8);
  transition: 0.3s;
}

.btn-in-dashboard1,
.btn-in-dashboard1:focus,
.btn-in-dashboard1:hover {
  padding: 0;
  height: 41px;
  width: 100%;
}

.btn-in-dashboard3,
.btn-in-dashboard3:focus,
.btn-in-dashboard3:hover {
  padding: 0;
  height: 41px;
  width: 180px;
}

.btn-cancel {
  color: #b9bbbe;
  background-color: initial;
  padding: 0;
  border: 0;
}

.btn-cancel:disabled {
  opacity: 0.65;
}

svg {
  fill: #ff5ec8;
}

[type="button"] {
  -webkit-appearance: none;
}

.cc {
  padding-top: 62.91%;
  width: 100%;
  border-radius: 10px;
  position: relative;
  background: linear-gradient(135deg, #fff -115%, #ff5ec8);
}

bold-me {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.cc-issuer {
  position: absolute;
  top: 7%;
  right: 10%;
}

.cc-nr {
  top: 44%;
}

.cc-nr,
.client-name {
  position: absolute;
  left: 10%;
}

.client-name,
.expiry {
  top: 72%;
  filter: opacity(0.5);
}

.expiry {
  position: absolute;
  right: 10%;
}

.device-id {
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer {
  position: relative;
  padding: 1rem 1.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn-logout,
.btn-logout:focus,
.btn-logout:hover {
  padding: 0;
  height: 41px;
  width: 114px;
  background-color: initial;
  border: 3px solid #ff5ec8;
}

.footer-light {
  color: #000000e6;
}
